Repository DFE-Digital/bat-platform-building-blocks, changes with the labels that .github/labeler.yml gives for each.
All labels: Terraform, SecretHandler

.github/labeler.yml:

---
Terraform:
  - terraform/**/*
  
SecretHandler:
  - scripts/fetch_config/**/*

Update main.yml (#76)
  .github/workflows/main.yml
Labels: none

Make slack conditional in default alertmanager
  terraform/modules/alertmanager/config/alertmanager.yml
Labels: Terraform

Rename alertmanager.yml
  terraform/modules/alertmanager/config/alertmanager.yml.tmpl
  terraform/modules/alertmanager/input.tf
Labels: Terraform

Add slack_url, slack_channel to send along to alertmanager
  terraform/modules/alertmanager/input.tf
  terraform/modules/prometheus_all/input.tf
  terraform/modules/prometheus_all/resources.tf
Labels: Terraform

Make endif indent match if indent
  terraform/modules/alertmanager/config/alertmanager.yml.tmpl
  terraform/modules/alertmanager/input.tf
Labels: Terraform

Tweak from terraform fmt
  terraform/modules/redis_prometheus_exporter/resource.tf
Labels: Terraform

Tune CF dashboard
  terraform/modules/grafana/dashboards/cf_overview.json
Labels: Terraform

Add parameter for storageMB
  templates/postgresql-server.json
Labels: none

Add healthCheckPath
  templates/app-service-linux.json
Labels: none

Move config inside siteConfig section
  templates/app-service-linux.json
Labels: none

Remove CODEOWNERS
  .github/CODEOWNERS
Labels: none

fetch-config: make require aws sdk gem optional
  scripts/fetch_config/fetch_config.rb
Labels: SecretHandler

fetch-config: bugfix missing require json
  scripts/fetch_config/fetch_config.rb
Labels: SecretHandler

fetch-config: generic source and dest parameter
  scripts/fetch_config/fetch_config.rb
Labels: SecretHandler

fetch-config: ask for confirmation
  scripts/fetch_config/fetch_config.rb
Labels: SecretHandler

emit a meaningful error when user not authorised
  scripts/fetch_config/fetch_config.rb
Labels: SecretHandler

use VISUAL or EDITOR if avaiable before vi
  scripts/fetch_config/fetch_config.rb
Labels: SecretHandler

Read Key Vault name from environment variable
  scripts/fetch_config/fetch_config.rb
Labels: SecretHandler

Update --help for azure-key-vault-secret
  scripts/fetch_config/fetch_config.rb
Labels: SecretHandler

enable debugging using env var
  scripts/fetch_config/fetch_config.rb
Labels: SecretHandler

allow custom editor env to use args
  scripts/fetch_config/fetch_config.rb
Labels: SecretHandler

Update logstash filters
  logstash-filters/govuk-paas.md
Labels: none

Rename logstash filters file as .rb
  logstash-filters/govuk-paas.rb
Labels: none

README
  README.md
Labels: none

Add --secret-type switch
  scripts/fetch_config/fetch_config.rb
Labels: SecretHandler

Do not delete non parsed logs
  logstash-filters/govuk-paas.rb
Labels: none

Logstash filter: fix json tag on failure
  logstash-filters/govuk-paas.rb
Labels: none

Update bundle
  scripts/fetch_config/Gemfile.lock
Labels: SecretHandler

Enhanced Azure secret editing
  scripts/fetch_config/fetch_config.rb
Labels: SecretHandler

Add rubocop configuration
  .rubocop.yml
  rubocop/layout.yml
  rubocop/lint.yml
  rubocop/metrics.yml
  rubocop/style.yml
Labels: none

Apply rubocop recommendations
  scripts/fetch_config/fetch_config.rb
Labels: SecretHandler

Post-rubocop bugfix
  scripts/fetch_config/fetch_config.rb
Labels: SecretHandler

Sets Key Vault secret expiry date on update
  scripts/fetch_config/fetch_config.rb
Labels: SecretHandler

Fixed time format and property name
  scripts/fetch_config/fetch_config.rb
Labels: SecretHandler

Fix stringify function
  scripts/fetch_config/fetch_config.rb
Labels: SecretHandler

Push to AWS SSM parameter store
  scripts/fetch_config/fetch_config.rb
Labels: SecretHandler
