Repository DFE-Digital/bat-platform-building-blocks, pull requests merged in 2020-12, with the labels that each got.

#73 Template support to create postgres read replica server
  templates/postgresql-server-configuration.json
  templates/postgresql-server.json
Labels: devops

#74 Workflow for Assests
  .github/workflows/main.yml
  scripts/fetch_config/fetchconfig.list
Labels: devops

#77 fetch-config: read/write from Azure key vault
  scripts/fetch_config/fetch_config.rb
Labels: Devops

#79 Default alertmanager
  terraform/modules/alertmanager/config/alertmanager.yml.tmpl
  terraform/modules/alertmanager/input.tf
Labels: Devops, Terraform

#78 Allow alertmanager Slack configuration when called from prometheus_all
  terraform/modules/alertmanager/config/alertmanager.yml.tmpl
  terraform/modules/alertmanager/input.tf
  terraform/modules/prometheus_all/input.tf
  terraform/modules/prometheus_all/resources.tf
  terraform/modules/redis_prometheus_exporter/resource.tf
Labels: Terraform
